:root{

}
body{
    display: flex;
    flex-direction: column;
}
header{
    text-align: center;
    background-color: aqua;
    border-width: 1px;
    border-color: black;
    padding: 10px;
    margin-top: 10px;
}
h1{
    font-size: 200%;
}
.intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.intro img{
    width: 200px;
}

.intro nav{    
    display: flex;
}
.intro nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 300px;
}
nav ul a{
    text-decoration: none;
}

.about-me{
    display: flex;
    padding: 10px;
}
#about-h2{
    display: flex;
    flex: 1;
    /* flex-direction: column; */
    font-size: 150%;
    padding: 10px;
    /* justify-content: flex-end; */
}
.about-me p{
    display: flex;
    flex: 6;
    padding: 10px;
}

.projects{
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: white;
    flex: 1;
}
#projects-h2{
    flex: 1;
    font-size: 150%;
    padding: 10px;
    height: 500px;
}

.main-project img{
    /* background-size: cover; */
    object-fit: fill;
    /* width: 100%; */
}
.projects .project-cards{
    background-color: darkgray;
    margin: 10px;

    display:flex ;
    flex-direction: column;
}
.project-cards{
    flex:6;
}
.main-project{
    flex: 8;
    display: flex;
    height: 500px;
    padding: 10px;
    margin: 10px;
    background-color: green;
}

.other-projects{
    margin: 10px;
    background-color: black;
    flex: 1;
    display:flex ;
    flex-direction: row;
    flex-wrap: wrap;
}
.other-projects figure{

    padding: 10px;
    margin: 10px;
    background-color: deepskyblue;
    display: flex ;
    flex-wrap: wrap;
    flex: 1 0 40%;
}
.other-projects img{
    background-size: cover;
    max-width: 100%;
}
.contact{
    display: flex;
    flex-direction: row;
}
.contact nav{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    list-style-type: none;
}
.contact nav ul{
    display: flex;
    flex: 2;
    /* justify-content: space-around; */
    align-items: center;
}
.contact nav ul li{
    display: flex;
    justify-content: center;
    min-width: 200px ;
}
.contact a{
    text-decoration: none;
}

/* @media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow
    .project-cards{
      flex: 0 0 33.33333%;
      flex-direction: row;
      max-width: 33.333333%;
    } 
  } */