:root{

}
body{
    display: flex;
    flex-direction: column;
}
header{
    text-align: center;
    background-color: aqua;
    border-width: 1px;
    border-color: black;
    padding: 10px;
    margin-top: 10px;
}
.intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.intro img{
    width: 200px;
}
h1{
    font-size: 200%;
}
nav{    
    display: flex;
}
nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 300px;
}
nav ul a{
    text-decoration: none;
}