/* sets variable for repeating colors */
:root{
    --color-3: #1B262C;
    --color-2: #0F4C75;
    --color-1: #3282B8;
    --color-4: #BBE1FA;
}
/* sets body for flex box and fonts */
body{
    display: flex;
    flex-direction: column;
    font-family: fantasy;
    color: var(--color-1);
    background-color: var(--color-1);
}
/* sets header size, color and spacing */
header{
    text-align: center;
    background-color: var(--color-3);
    margin: 10px 10px 0px 10px;
    padding: 10px 10px 0px 10px;
    font-size: 300%;
}
/* sets intro flexbox and spacing */
.intro{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    background-color: var(--color-3);
}
/* sets image height and spacing */
.intro img{
    padding: 10px;
    border: var(--color-2);
    border-width: 10px 0px 10px 10px;
    border-style: solid;
    width: 200px;
}
/* sets intro elements and spacing */
.intro nav{   
    border: var(--color-2);
    border-width: 10px 10px 10px 0px;
    border-style: solid;
    display: flex;
    padding-left: 100px; ;
}
/* sets up link elements for flexbox and size */
.intro nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 200px;
    font-size: 200%;
}
/* sets links for no response */
a{    
    text-decoration: none;
    color: var(--color-4);
}
a:hover{
    color: var(--color-1);
}
/* sets margins and flex */
.about-me{
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: var(--color-3);
}
/* sets flex and location */
h2{
    display: flex;
    flex: 1;
    font-size: 200%;
    padding: 10px;
    justify-content: center;
}
/* sets margin and padding and size */
.about-me p{
    flex: 4;
    font-size: 125%;
    padding: 10px;
    border: var(--color-2);
    border-width: 10px;
    border-style: solid;
    color: var(--color-4);
}
/* sets up project section */
.projects{
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color:var(--color-3) ;
}
/* sets image sizes */
img{
    background-size: cover;
    width: 100%;
}
/* sets project cards area flex grow and color */
.project-cards{
    background-color: var(--color-2);
    flex: 4;
}
/* sets figure padding and flexbox */
figure{
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    position: relative;
    background-color: var(--color-4);
}
/* sets other projects flexbox */
.other-projects{
    background-color: var(--color-2);
    display:flex ;
    flex-wrap: wrap;
}
/* sets other projects figure size */
.other-projects figure{
    flex: 1 0 40%;
}
/* sets figure captions position and color */
figcaption{
    z-index: 2;
    background-color: var(--color-4);
    padding: 10px;
    position: absolute;
    bottom: 50%;

}
/* sets hover for images */
figure:hover{
    background: var(--color-1);
}
/* sets up contact section */
.contact{
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: var(--color-3);
}
/* sets up nav section for flexbox and color */
.contact nav{
    display: flex;
    flex: 4;
    border-style: solid;
    border-width: 10px;
    border-color: var(--color-2);
}
/* sets ul flexbox, size and color */
.contact nav ul{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 125%;
}
/* sets li flexbox */
.contact nav ul li{
    display: flex;
    justify-content: center;
}

/* sets up responive layout  */
@media screen and (max-width: 992px) {
    .main-project figure{
        flex: 8;
    }
    .other-projects figure{
      flex: .5 0 95%;
    } 
  }